.menu-component {
    background-image: linear-gradient(to top, #FFE940, white);
    box-shadow: inset 0 0 10px black;
    padding: 10px;
    overflow: auto;
}

h2, h3 {
    text-align: center;
}

button, input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: 0.5s;
    height: 20px;
}

input {
    border-bottom: 1px solid black;
}

button {    
    width: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    color: #FFE940;
    background-color: black;
}

.active {
    border-right: 2px dotted black;
    padding-right: 20px;
    margin-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    transition: 0.5s;
    border-radius: 5px;
    width: 100%;
}
li:hover {
    color: #FFE940;
    background-color: black;
}