.app-header {
    background-color: #222;
    padding: 20px;
    height: 60px;
    color: white;
}
.app-title {
    text-align: center;
    font-size: 1.5em;
}

.content {
    width: 100vw;
    height: calc(100vh - (60px + 20px*2)); /* header height */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* components */

.board-component {
    width: 70vh;
    height: 70vh;
}